node_modules/
dist/
.venv/
/generated/prisma

exercises/sample-solutions/5_migration/migrations/*
exercises/sample-solutions/5_migration/migrations/0_init/
exercises/sample-solutions/5_migration/migrations/0_init/**